<?xml version="1.0"?>
<config>
    <modules>
        <Divante_OpenLoyalty>
            <version>1.0.0</version>
        </Divante_OpenLoyalty>
    </modules>
    <global>
        <helpers>
            <divante_openloyalty>
                <class>Divante_OpenLoyalty_Helper</class>
            </divante_openloyalty>
        </helpers>
        <blocks>
            <divante_openloyalty>
                <class>Divante_OpenLoyalty_Block</class>
            </divante_openloyalty>
            <checkout>
                <rewrite>
                    <cart_coupon>Divante_OpenLoyalty_Block_Cart_Coupon</cart_coupon>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_email_items>Divante_OpenLoyalty_Block_Order_Email_Items</order_email_items>
                </rewrite>
            </sales>
            <page>
                <rewrite>
                    <html_header>Divante_OpenLoyalty_Block_Page_Header</html_header>
                </rewrite>
            </page>
        </blocks>
        <models>
            <divante_openloyalty>
                <class>Divante_OpenLoyalty_Model</class>
            </divante_openloyalty>
            <customer>
                <rewrite>
                    <customer>Divante_OpenLoyalty_Model_Customer</customer>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <quote>Divante_OpenLoyalty_Model_Quote</quote>
                    <order>Divante_OpenLoyalty_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <divante_openloyalty_setup>
                <setup>
                    <module>Divante_OpenLoyalty</module>
                    <class>Divante_OpenLoyalty_Model_Resource_Setup</class>
                </setup>
            </divante_openloyalty_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <divante_openloyalty_order_place_afer>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Sales</class>
                        <method>sendOrder</method>
                    </divante_openloyalty_order_place_afer>
                    <divante_openloyalty_clean_loyalty_flag>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Sales</class>
                        <method>cleanLoyaltyFlag</method>
                    </divante_openloyalty_clean_loyalty_flag>
                    <divante_openloyalty_clean_customer_status_cache>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Sales</class>
                        <method>cleanCustomerStatusCache</method>
                    </divante_openloyalty_clean_customer_status_cache>
                </observers>
            </sales_order_place_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <divante_openloyalty>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Sales</class>
                        <method>recollectTotals</method>
                    </divante_openloyalty>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <loyalty_discount>
                    <to_order>*</to_order>
                </loyalty_discount>
                <register_in_loyalty>
                    <to_order>*</to_order>
                </register_in_loyalty>
            </sales_convert_quote>
            <sales_convert_order>
                <loyalty_discount>
                    <to_quote>*</to_quote>
                </loyalty_discount>
                <register_in_loyalty>
                    <to_quote>*</to_quote>
                </register_in_loyalty>
            </sales_convert_order>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <divante_openloyalty_expected>
                        <class>divante_openloyalty/sales_quote_total_points</class>
                        <renderer>divante_openloyalty/checkout_totals_points</renderer>
                    </divante_openloyalty_expected>
                </totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <divante_openloyalty>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Checkout</class>
                        <method>setRegisterInCheckoutFlag</method>
                    </divante_openloyalty>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <divante_openloyalty>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Customer</class>
                        <method>addLoyaltyTabs</method>
                    </divante_openloyalty>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_postdispatch_newsletter_manage_save>
                <observers>
                    <divante_openloyalty_subscriber_save>
                        <class>Divante_OpenLoyalty_Model_Observer_Customer</class>
                        <method>newsletterSubscriberSave</method>
                    </divante_openloyalty_subscriber_save>
                </observers>
            </controller_action_postdispatch_newsletter_manage_save>
            <checkout_cart_save_after>
                <observers>
                    <divante_openloyalty_clean_points_cache>
                        <class>Divante_OpenLoyalty_Model_Observer_Checkout</class>
                        <method>cleanPointsCache</method>
                    </divante_openloyalty_clean_points_cache>
                </observers>
            </checkout_cart_save_after>
        </events>
        <translate>
            <modules>
                <Divante_OpenLoyalty>
                    <files>
                        <default>Divante_OpenLoyalty.csv</default>
                    </files>
                </Divante_OpenLoyalty>
            </modules>
        </translate>
        <routers>
            <loyalty_checkout>
                <use>standard</use>
                <args>
                    <module>Divante_OpenLoyalty_Checkout</module>
                    <frontName>loyalty_checkout</frontName>
                </args>
            </loyalty_checkout>
            <divante_openloyalty>
                <use>standard</use>
                <args>
                    <module>Divante_OpenLoyalty</module>
                    <frontName>loyaltyprogram</frontName>
                </args>
            </divante_openloyalty>
        </routers>
        <layout>
            <updates>
                <divante_openloyalty>
                    <file>divante_openloyalty.xml</file>
                </divante_openloyalty>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Divante_OpenLoyalty>
                    <files>
                        <default>Divante_OpenLoyalty.csv</default>
                    </files>
                </Divante_OpenLoyalty>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <divante_openloyalty>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Adminhtml</class>
                        <method>adminhtmlCustomerLoyaltyField</method>
                    </divante_openloyalty>
                </observers>
            </adminhtml_block_html_before>
            <admin_system_config_changed_section_divante_openloyalty>
                <observers>
                    <divante_openloyalty>
                        <type>singleton</type>
                        <class>Divante_OpenLoyalty_Model_Observer_Adminhtml</class>
                        <method>afterConfigSave</method>
                    </divante_openloyalty>
                </observers>
            </admin_system_config_changed_section_divante_openloyalty>
        </events>
    </adminhtml>
    <default>
        <divante_openloyalty>
            <frontend>
                <enabled>1</enabled>
                <label>Open Loyalty program</label>
                <terms_url>/program-terms</terms_url>
                <program_info_url>/program-info</program_info_url>
                <program_support_email>support@oloy.test</program_support_email>
                <program_customer_panel>http://my-domain.com/loyalty-program/customer</program_customer_panel>
            </frontend>
            <api>
                <pos_identifier>magento</pos_identifier>
                <debug_log>0</debug_log>
            </api>
        </divante_openloyalty>
    </default>
    <crontab>
        <jobs>
            <divante_openloyalty>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>divante_openloyalty/cron::updateDefaultDiscount</model>
                </run>
            </divante_openloyalty>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <divante_openloyalty>
                <use>admin</use>
                <args>
                    <frontName>loyaltyprogram</frontName>
                    <module>Divante_OpenLoyalty_Adminhtml</module>
                </args>
            </divante_openloyalty>
        </routers>
    </admin>
</config>